<footer>
    <div class="footer_social_icons">
        <ul class="social-icons mx-auto ">
          <a class="linkedin" href="https://www.linkedin.com/in/chinmay-mhatre-a361601aa/" target="_blank"><li><i class="fab fa-linkedin" style="color: #0077b5;"></i></li></a>
          <a class="github" href="https://github.com/chinmay0910/" target="_blank" style="text-decoration: none !important;"><li><i class="fa-brands fa-github" style="color: black;"></i></li></a>
          <a class="youtube" href="" target="_blank"><li><i class="fab fa-youtube" style="color: #ff4d5a;"></i></li></a>
          <a class="instagram" href="https://www.instagram.com/chinmay7543/" target="_blank"><li><i class="fab fa-instagram" style="color: #E4405F;"></i></li></a>
        </ul>
        <h2 class="about">Designed with ❤️ by Chinmay Mhatre</h2>
      </div>
</footer>