<nav class="navbar flexRow">
    <div class="flexRow" style="width: 100%;">
        <h1 class="p-10">LOGO</h1>
        <ul class="alignRight flexRow AddSkill_Btn">
            <li><a class="a_underline" href="/">Home</a></li>
            <li><a class="a_underline" href="#aboutSec">About</a></li>
            <li><a class="a_underline" href="#">Skills</a></li>
            <li><a class="a_underline" href="#">Contact</a></li>
        </ul>
    </div>
    <div class="toggle-button" onclick="toggleNavbar()">&#9776;</div>
</nav>