<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/x-icon" href="/Images/icon.png">
    <link rel="stylesheet" href="style.css">
    <title>Portfolio | Chinmay Mhatre</title>
</head>
<body>
    <!-- <h2 style="text-align: center; text-transform: uppercase; background-color: #ff4d5a;">Portfolio under Development, Deploying Soon...</h2> -->
    <%- include('./partials/navbar.ejs'); %>

    <!-- Modal Code is here... -->
    <div id="myModal" class="modal">
        <form class="modal-content" id="addSkillForm">
          <span class="close-btn" id="closeModalBtn">&times;</span>
          <h2 id="modalTitle">Add Skill</h2>
      
          <div class="form-group" id="skillFields">
            <label for="skillName">Skill Name:</label>
            <input type="text" id="skillName" name="skillName" placeholder="Enter Skill Name">
          </div>

                  <!-- Fields specific to creating a project -->
        <div class="form-group" id="projectFields" >
            <label for="title">Project Title:</label>
            <input id="title" name="title" type="text" placeholder="Enter Project Title"/>
            <label for="description">Project Description:</label>
            <textarea id="description" name="description" placeholder="Enter Project Description"></textarea>
            <label for="link">Project Link:</label>
            <input id="link" name="link" type="text" placeholder="Enter Deployed link of Project"/>
            <label for="code">Project Code Link:</label>
            <input id="code" name="code" type="text" placeholder="Enter Github link Code of Project"/>
        </div>

      
          <div class="form-group">
            <label for="image">Upload Image:</label>
            <input type="file" id="image" name="image" accept="image/*" required>
          </div>
      
          <div class="preview" id="previewContainer" style="display: none;">
            <label>Preview:</label><br>
            <img id="imagePreview" alt="Image Preview">
          </div>
          <button id="submitBtn">Submit</button>
        </form>
      </div>
    <!-- Modal Code is ends here... -->

    <div class="container">
        <section class="main_box main_intro" id="particles-js">
                <div class="description">
                    <h1>Hi There,</h1>
                    <h1>I'm <span class="span">Chinmay Mhatre</span></h1>
                    <span id="element"></span><br>
                    <button class="btn" onclick="window.location.replace(`#aboutSec`)">About Me -></button>
                    <div class="icons">
                        
                    </div>
                </div>
                <div class="photo"><img id="hero" src="/chinmayphotocoat.jpg" alt="profilePic"></div>
        </section>
    <section class="about" id="aboutSec">
        <h1 class="headers"><i class="fa-solid fa-user"></i> About Me</h1>
        <div class="main_box flexRow">
            <div id="aboutme">
                <p><h1 class="span">Welcome to my website!</h1></p>
                <p>Hello there! I'm thrilled to have you visit my website. I'm a passionate and dedicated <span class="underline">Computer Engineering</span> Third year student at <span class="underline">Vidylankar Institute of Technology</span>, and this platform is designed to showcase my journey,projects, and skills.</p>
                    <br><h1 class="span">Who am I?</h1>
                <p>I'm a curious soul with a deep love for all tech-related things.As a Computer Engineering student, I find joy in unraveling complex problems and creating innovative solutions. And this appetite keeps me hungry for learning.</p>
                <a href="https://drive.google.com/file/d/1tZIoYTaKtPIL3o2Zn32OxZXf-Vfq1XD5/view?usp=sharing" target="_blank"><button class="btn" id="resBtn">Resume</button></a>
            </div>
                <div class="skills AddSkill_Btn" id="AllSkills">
                    
                </div>
        </div>
    </section>
    <!-- Project Section Begins(#e5ecfb) -->
    <section class="projects">
        <h1 class="headers" style="text-align: center; font-family: 'Belanosima', sans-serif; color: black;"><i class="fa-solid fa-house-laptop"></i> My Projects</h1>
        <p class="subtitle">"Comments Sometimes lies, but Code Never"</p>
        <div class="projects_row flexRow">
            <!-- All the projects will be appended here after fetching from DB         -->
        </div>
        <a href="/viewallprojects"><button class="viewMore flexRow">View More</button></a>
    </section>

    <section class="form">
        <h1 class="headers" style="text-align: center; font-family: 'Belanosima', sans-serif; color: black;"><i class="fa-solid fa-phone"></i> Get in Touch</h1>
        <p class="subtitle">Have any Questions ? Leave your details and I'll get back to you as soon as possible.</p>
        <div class="form_container">
            <div class="description">
                <img src="Images/helpline.jpg" alt="ContactUs">
            </div>
            <div class="main_form skills_row">
                <div class="input flexRow">
                    <i class="fa-solid fa-user m_10"></i>
                    <input type="text" name="name" id="" placeholder="Name"/>
                </div>
                <div class="input flexRow">
                    <i class="fa-solid fa-envelope-open-text m_10"></i>
                    <input type="email" name="email" id="" placeholder="Email Address"/>
                </div>
                <div class="input flexRow">
                    <i class="fa-solid fa-message m_10"></i>
                    <textarea name="msg" id="" cols="50" rows="10" placeholder="Message"></textarea>
                </div>
                <button class="viewMore" type="submit">Submit</button>
            </div>
        </div>
    </section>

    <%- include('./partials/footer.ejs'); %>
    </div>
</body>
<script src="particles.js"></script>
<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
<script src="myjs.js"></script>
<script src="index.js"></script>
<script src="isSignIn.js"></script>
</html>